@model ProspectManager.Mvc.Models.Home.IndexViewModel
@using ProspectManager.Mvc.Extensions
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div class="row, prettyLetters">
    @Html.ContactAlphabetList()
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Upcoming todos</h3>

        <table>
            <tr>
                <th>Due Date</th>
                <th>Description</th>
            </tr>

            @foreach (var item in Model.UpcomingTodos)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DueDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                </tr>
            }
        </table>
    </div>

    <div class="col-sm-6">
        <h3>Upcoming Meetings</h3>

        <table>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Location</th>
            </tr>

            @foreach (var item in Model.UpcomingMeetings)
            {
                <tr>
                    <td>@item.MeetingDate</td>
                    <td>@item.Title</td>
                    <td>@item.Location.Name</td>
                </tr>
            }
        </table>
    </div>

</div>
